@import url('https://fonts.googleapis.com/css2?family=Balthazar&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Faculty+Glyphic&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/***
====================================================================
	Reset
====================================================================
***/
* {
  margin: 0px;
  padding: 0px;
  border: none;
  outline: none;
  font-size: 100%;
  line-height: inherit;
}

:root {
  --color-default: #474747;
  --color-primary: #fff;
  --color-secondary: #cf2353;
}

/* .container {
  position: relative;
} */

.mobile-view {
  display: none;
}

/*** 
====================================================================
	Global Settings
====================================================================
 ***/
body {
  font-size: 16px;
  color: #202020;
  line-height: 1.6em;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-family: "Open Sans", sans-serif;
  height: 100vh;
  overflow: hidden;
}
.all{
  display: flex;
}
.bg{
  transition: 1s;
}
.bg img{
  height: 630px;
  width: 655px;
  margin-left: -77px;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.right-panel{
width:630px;
height:630px;
}
.container--signup{
  transform: translateX(-230%);
  padding: 50px;
  opacity: 0;
  transition: 1s;
}
.signup{
  margin-top: 30px;
  text-align: center;
}
.signup input{
  width:150px;
  padding: 10px;
}
.log button{
width: 150px;
padding: 10px;
}
.name{
  display: flex;
  position: relative;
  gap: 10px;
}
.name input{
  position: relative;
  width: 200px;
  border: solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0; 
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
}
.name p{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
  top: 0px;
}
.lname p{
  left: 207px;
}
.form .name input:focus ~ p,
.form .name input:not(:placeholder-shown) ~ p {
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: black;
}
.container--signin{
  position: absolute;
  top: 50px;
  padding-left: 50px;
  /* transform: translateX(-220%); */
  transition: 1s;
}

.form .input-box {
  position: relative;
  width: 100%;
}
.form .input-box p {
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
  top: 0px;
}

.form .input-box input:focus ~ p,
.form .input-box input:not(:placeholder-shown) ~ p {
    transform: translateY(-7.5px);
    font-size: 0.8em;
    color: black;
}

.form .input-box input {
  position: relative;
  width: 100%;
  border: solid black;
  border-top: 0;
  border-left: 0;
  border-right: 0; 
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1em;
}
.login{
  margin-top: 50px;
  text-align:  center;
}
.login input{
  width: 500px;
  padding: 10px;
}
.bg-right {
  transition: 1s;
  transform: translateX(100%);
}
.closein{
  transform: translateX(120%);
  opacity: 0;
  transition: 1s;
}
.openup{
  transform: translateX(-120%);
  opacity: 1;
  transition: 1s;
}